.header-wrapper {
  background-color: #282c34;
  justify-content: flex-end;
}

.header-wrapper > img {
  height: 90px;
}

.header-title {
  color: aliceblue;
  margin-top: 15px;
}

.navigation {
  display: flex;
  margin-left: auto;
  
}

.navigation > button {
  margin: 20px 100px 0 0;
  font-size: 20px;
  height: 30px;
  width: 100px;
  background-color:rgb(17, 163, 163);
  color:azure;
  border-radius: 9px;
  
}